{% extends 'base.html' %}
{% load static %}
{% block title %}
  About Us
{% endblock title %}

{% block content %}
<div class="breadcrumb-wrap">
    <div data-elementor-type="wp-post" data-elementor-id="4830" class="elementor elementor-4830">
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-b5dcd67 elementor-section-full_width elementor-section-height-min-height elementor-section-stretched elementor-section-height-default elementor-section-items-middle"
            data-id="b5dcd67" data-element_type="section"
            data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-background-overlay"></div>
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-fb3fdbb"
                    data-id="fb3fdbb" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-54a2ac3 hidden-onilife-title-single-yes elementor-widget elementor-widget-onilife-breadcrumb"
                            data-id="54a2ac3" data-element_type="widget"
                            data-widget_type="onilife-breadcrumb.default">
                            <div class="elementor-widget-container">
                                <div class="breadcrumb" typeof="BreadcrumbList" vocab="">
                                    <div class="breadcrumb-listItem">
                                        <span property="itemListElement" typeof="ListItem"><a property="item"
                                                typeof="WebPage" title="Go to Home."
                                                href="{% url 'index' %}" class="home"><span
                                                    property="name">Home</span></a>
                                            <meta property="position" content="1">
                                        </span><i class="onilife-icon-minus"></i><span
                                            property="itemListElement" typeof="ListItem"><span property="name"
                                                class="post post-page current-item">About Us</span>
                                            <meta property="url" content="{% url 'index' %}">
                                            <meta property="position" content="2">
                                        </span>
                                    </div>
                                    <h1 class="onilife-title">
                                        About Us </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div id="content" class="site-content" tabindex="-1">
    <div class="col-full">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div data-elementor-type="wp-page" data-elementor-id="156" class="elementor elementor-156">
                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-e2342ce elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="e2342ce" data-element_type="section"
                        data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-c51fbb7 elementor-hidden-tablet elementor-hidden-mobile_extra"
                                data-id="c51fbb7" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-1244365 elementor-widget elementor-widget-image"
                                        data-id="1244365" data-element_type="widget"
                                        data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                            <img width="440" height="653"
                                                src="{% static 'uploads/2022/09/about_img.jpg' %}"
                                                class="attachment-full size-full" alt="" loading="lazy"
                                                sizes="(max-width: 440px) 100vw, 440px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-ea5881c"
                                data-id="ea5881c" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <section
                                        class="elementor-section elementor-inner-section elementor-element elementor-element-7b92d0d elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                        data-id="7b92d0d" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-no">
                                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-da76331"
                                                data-id="da76331" data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-233c0a8 elementor-widget__width-initial elementor-widget elementor-widget-heading"
                                                        data-id="233c0a8" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h2
                                                                class="elementor-heading-title elementor-size-default">
                                                                A legacy of serving seniors </h2>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-4586472 elementor-widget elementor-widget-heading"
                                                        data-id="4586472" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h2
                                                                class="elementor-heading-title elementor-size-default">
                                                                Experience an exciting <span
                                                                    style="color: var(--primary);text-decoration:underline;font-weight:400;">new
                                                                    chapter</span> with the legacy senior
                                                                communities. </h2>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-d4ae3d2 elementor-widget elementor-widget-text-editor"
                                                        data-id="d4ae3d2" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero magni quia autem, adipisci at repudiandae, delectus, ratione dolorem reprehenderit ex quaerat. Odio dolores qui aliquid atque debitis numquam corrupti veniam! Voluptatibus nemo labore repudiandae beatae quasi totam odio cumque placeat recusandae quaerat!</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-e64cd9f"
                                                data-id="e64cd9f" data-element_type="column"
                                                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-aaeb6ee elementor-widget elementor-widget-heading"
                                                        data-id="aaeb6ee" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h2
                                                                class="elementor-heading-title elementor-size-default">
                                                                25</h2>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-b1e7b21 elementor-widget elementor-widget-heading"
                                                        data-id="b1e7b21" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h2
                                                                class="elementor-heading-title elementor-size-default">
                                                                Years of working<br> experience</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section
                                        class="elementor-section elementor-inner-section elementor-element elementor-element-bd5df24 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                        data-id="bd5df24" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-no">
                                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-3b86b9b"
                                                data-id="3b86b9b" data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-b08811a elementor-widget__width-auto elementor-view-default elementor-widget elementor-widget-icon"
                                                        data-id="b08811a" data-element_type="widget"
                                                        data-widget_type="icon.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-icon-wrapper">
                                                                <div class="elementor-icon">
                                                                    <i aria-hidden="true"
                                                                        class="onilife-icon- onilife-icon-senior-living"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-4a2c5bd elementor-widget__width-auto elementor-widget elementor-widget-heading"
                                                        data-id="4a2c5bd" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h2
                                                                class="elementor-heading-title elementor-size-default">
                                                                0</h2>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-818b8e6 elementor-widget__width-auto elementor-widget elementor-widget-heading"
                                                        data-id="818b8e6" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h2
                                                                class="elementor-heading-title elementor-size-default">
                                                                +</h2>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-576d6bc elementor-widget elementor-widget-heading"
                                                        data-id="576d6bc" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h2
                                                                class="elementor-heading-title elementor-size-default">
                                                                Senior Living Communities</h2>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-504d6a6 elementor-widget elementor-widget-text-editor"
                                                        data-id="504d6a6" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In minus recusandae beatae provident nostrum voluptate et iusto repudiandae perspiciatis est.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-b9b1ff9"
                                                data-id="b9b1ff9" data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-0ecda6e elementor-widget__width-auto elementor-view-default elementor-widget elementor-widget-icon"
                                                        data-id="0ecda6e" data-element_type="widget"
                                                        data-widget_type="icon.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-icon-wrapper">
                                                                <div class="elementor-icon">
                                                                    <i aria-hidden="true"
                                                                        class="onilife-icon- onilife-icon-family-help"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-38e1231 elementor-widget__width-auto elementor-widget elementor-widget-heading"
                                                        data-id="38e1231" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h2
                                                                class="elementor-heading-title elementor-size-default">
                                                                0</h2>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-6babdeb elementor-widget__width-auto elementor-widget elementor-widget-heading"
                                                        data-id="6babdeb" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h2
                                                                class="elementor-heading-title elementor-size-default">
                                                                +</h2>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-015fc8a elementor-widget elementor-widget-heading"
                                                        data-id="015fc8a" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h2
                                                                class="elementor-heading-title elementor-size-default">
                                                                Families Helped</h2>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-88189fc elementor-widget elementor-widget-text-editor"
                                                        data-id="88189fc" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis iure atque nam nemo iusto, ut odio officiis. Maxime, recusandae iusto?</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-ff5230a elementor-section-items-top elementor-section-stretched elementor-section-height-min-height elementor-section-boxed elementor-section-height-default"
                        data-id="ff5230a" data-element_type="section"
                        data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-38d9644"
                                data-id="38d9644" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-4696320 elementor-widget elementor-widget-heading"
                                        data-id="4696320" data-element_type="widget"
                                        data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">What
                                                makes us<br> different?</h2>
                                        </div>
                                    </div>
                                    <section
                                        class="elementor-section elementor-inner-section elementor-element elementor-element-5d3ea95 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                        data-id="5d3ea95" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-no">
                                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-80e45f7"
                                                data-id="80e45f7" data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-e77af13 elementor-widget elementor-widget-image"
                                                        data-id="e77af13" data-element_type="widget"
                                                        data-widget_type="image.default">
                                                        <div class="elementor-widget-container">
                                                            <img width="410" height="220"
                                                                src="{% static 'uploads/2022/09/about_img2.jpg' %}"
                                                                class="attachment-large size-large" alt=""
                                                                loading="lazy"
                                                                sizes="(max-width: 410px) 100vw, 410px" />
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-1190233 elementor-widget elementor-widget-heading"
                                                        data-id="1190233" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h2
                                                                class="elementor-heading-title elementor-size-default">
                                                                Care </h2>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-c387bc5 elementor-widget elementor-widget-text-editor"
                                                        data-id="c387bc5" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae placeat repellat omnis eum atque eos, unde sequi iusto! Porro, tenetur?
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-1e8ce19"
                                                data-id="1e8ce19" data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-3303f8c elementor-widget elementor-widget-image"
                                                        data-id="3303f8c" data-element_type="widget"
                                                        data-widget_type="image.default">
                                                        <div class="elementor-widget-container">
                                                            <img width="410" height="220"
                                                                src="{% static 'uploads/2022/09/about_img1.jpg' %}"
                                                                class="attachment-large size-large" alt=""
                                                                loading="lazy"
                                                                sizes="(max-width: 410px) 100vw, 410px" />
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-fbf047a elementor-widget elementor-widget-heading"
                                                        data-id="fbf047a" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h2
                                                                class="elementor-heading-title elementor-size-default">
                                                                Hospitality</h2>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-92a3e4b elementor-widget elementor-widget-text-editor"
                                                        data-id="92a3e4b" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae placeat repellat omnis eum atque eos, unde sequi iusto! Porro, tenetur?</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-d390881"
                                                data-id="d390881" data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-0710e09 elementor-widget elementor-widget-image"
                                                        data-id="0710e09" data-element_type="widget"
                                                        data-widget_type="image.default">
                                                        <div class="elementor-widget-container">
                                                            <img width="410" height="220"
                                                                src="{% static 'uploads/2022/09/about_img-1.jpg' %}"
                                                                class="attachment-large size-large" alt=""
                                                                loading="lazy"
                                                                sizes="(max-width: 410px) 100vw, 410px" />
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-6c751f7 elementor-widget elementor-widget-heading"
                                                        data-id="6c751f7" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h2
                                                                class="elementor-heading-title elementor-size-default">
                                                                Escapades…for Life!</h2>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-99832be elementor-widget elementor-widget-text-editor"
                                                        data-id="99832be" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae placeat repellat omnis eum atque eos, unde sequi iusto! Porro, tenetur?</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-920bb99 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="920bb99" data-element_type="section"
                        data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-8977ccb"
                                data-id="8977ccb" data-element_type="column"
                                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-90e0fca elementor-widget elementor-widget-heading"
                                        data-id="90e0fca" data-element_type="widget"
                                        data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">History &
                                                mission</h2>
                                        </div>
                                    </div>
                                    <section
                                        class="elementor-section elementor-inner-section elementor-element elementor-element-4ecd038 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                        data-id="4ecd038" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-no">
                                            <!-- <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-5bcc916"
                                                data-id="5bcc916" data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-43eaa6e elementor-widget elementor-widget-heading"
                                                        data-id="43eaa6e" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h5
                                                                class="elementor-heading-title elementor-size-default">
                                                                1990–2000 </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->
                                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-0b2f3f4"
                                                data-id="0b2f3f4" data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-a4ef91a elementor-widget elementor-widget-text-editor"
                                                        data-id="a4ef91a" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae placeat repellat omnis eum atque eos, unde sequi iusto! Porro, tenetur?
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section
                                        class="elementor-section elementor-inner-section elementor-element elementor-element-4dabb7f elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                        data-id="4dabb7f" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-no">
                                            <!-- <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-434b4a3"
                                                data-id="434b4a3" data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-78c91ae elementor-widget elementor-widget-heading"
                                                        data-id="78c91ae" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h5
                                                                class="elementor-heading-title elementor-size-default">
                                                                2001 -2007</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->
                                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-2c85222"
                                                data-id="2c85222" data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-5ee2021 elementor-widget elementor-widget-text-editor"
                                                        data-id="5ee2021" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae placeat repellat omnis eum atque eos, unde sequi iusto! Porro, tenetur?</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section
                                        class="elementor-section elementor-inner-section elementor-element elementor-element-52fdaf5 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                        data-id="52fdaf5" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-no">
                                            <!-- <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-9f45f82"
                                                data-id="9f45f82" data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-612aa15 elementor-widget elementor-widget-heading"
                                                        data-id="612aa15" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h5
                                                                class="elementor-heading-title elementor-size-default">
                                                                2008-2015</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->
                                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-f8c7020"
                                                data-id="f8c7020" data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-a3bf1c7 elementor-widget elementor-widget-text-editor"
                                                        data-id="a3bf1c7" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae placeat repellat omnis eum atque eos, unde sequi iusto! Porro, tenetur?</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section
                                        class="elementor-section elementor-inner-section elementor-element elementor-element-de5b3f2 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                        data-id="de5b3f2" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-no">
                                            <!-- <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-38f67c6"
                                                data-id="38f67c6" data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-cb91d45 elementor-widget elementor-widget-heading"
                                                        data-id="cb91d45" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h5
                                                                class="elementor-heading-title elementor-size-default">
                                                                2016-2022</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->
                                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-15eb55c"
                                                data-id="15eb55c" data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-25d44ff elementor-widget elementor-widget-text-editor"
                                                        data-id="25d44ff" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae placeat repellat omnis eum atque eos, unde sequi iusto! Porro, tenetur?</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-e893bcc"
                                data-id="e893bcc" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-74e9477 elementor-widget elementor-widget-image"
                                        data-id="74e9477" data-element_type="widget"
                                        data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                            <img width="645" height="760"
                                                src="{% static 'uploads/2022/09/about_img3.jpg' %}"
                                                class="attachment-full size-full" alt="" loading="lazy"
                                                sizes="(max-width: 645px) 100vw, 645px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-e3dfb4e elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="e3dfb4e" data-element_type="section"
                        data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-0e29701"
                                data-id="0e29701" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-9b3bd21 elementor-widget elementor-widget-image"
                                        data-id="9b3bd21" data-element_type="widget"
                                        data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                            <img width="770" height="460"
                                                src="{% static 'uploads/2022/09/about_img4.jpg' %}"
                                                class="attachment-large size-large" alt="" loading="lazy"
                                                sizes="(max-width: 770px) 100vw, 770px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-a56e00a"
                                data-id="a56e00a" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-eaf4098 elementor-widget elementor-widget-heading"
                                        data-id="eaf4098" data-element_type="widget"
                                        data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">We’re
                                                here <br>to help</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-5b2634c elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
                                        data-id="5b2634c" data-element_type="widget"
                                        data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, consectetur provident obcaecati amet eos recusandae. Quos repellendus quam modi molestias fugit aspernatur natus voluptates dolor officia dignissimos omnis ducimus officiis rerum</p>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-a76e73b elementor-mobile-align-center button-style-onilife-yes elementor-widget elementor-widget-button"
                                        data-id="a76e73b" data-element_type="widget"
                                        data-widget_type="button.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-button-wrapper">
                                                <a href="../about-team/index.html"
                                                    class="elementor-button-link elementor-button elementor-size-sm"
                                                    role="button">
                                                    <span class="elementor-button-content-wrapper">
                                                        <span
                                                            class="elementor-button-icon elementor-align-icon-right">
                                                            <i aria-hidden="true"
                                                                class="onilife-icon- onilife-icon-chevron-circle-right"></i>
                                                        </span>
                                                        <span class="elementor-button-text">meet our team</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </main>
        </div>
    </div>
</div>
{% endblock content %}