{% extends 'base.html' %}
{% load static %}
{% block title %}
  Admissions
{% endblock title %}

{% block content %}
<div class="breadcrumb-wrap">
    <div data-elementor-type="wp-post" data-elementor-id="4821" class="elementor elementor-4821">
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-282c103 elementor-section-full_width elementor-section-height-min-height elementor-section-stretched elementor-section-height-default elementor-section-items-middle"
            data-id="282c103" data-element_type="section"
            data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-background-overlay"></div>
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-40b26dd"
                    data-id="40b26dd" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-7d92522 elementor-widget elementor-widget-onilife-breadcrumb"
                            data-id="7d92522" data-element_type="widget"
                            data-widget_type="onilife-breadcrumb.default">
                            <div class="elementor-widget-container">
                                <div class="breadcrumb" typeof="BreadcrumbList" vocab="">
                                    <div class="breadcrumb-listItem">
                                        <span property="itemListElement" typeof="ListItem"><a property="item"
                                                typeof="WebPage" title="Go to Home."
                                                href="{% url 'index' %}" class="home"><span
                                                    property="name">Home</span></a>
                                            <meta property="position" content="1">
                                        </span><i class="onilife-icon-minus"></i><span
                                            property="itemListElement" typeof="ListItem"><span property="name"
                                                class="post post-page current-item">Admissions</span>
                                            <meta property="url" content="{% url 'index' %}">
                                            <meta property="position" content="2">
                                        </span>
                                    </div>
                                    <h1 class="onilife-title">
                                        Admissions</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div id="content" class="site-content" tabindex="-1">
    <div class="col-full">
        <div id="primary">
            <main id="main" class="site-main">
                <article id="post-5325" class="post-5325 page type-page status-publish hentry">
                    <div class="entry-content">
                        <div data-elementor-type="wp-page" data-elementor-id="5325"
                            class="elementor elementor-5325">
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-25bd378 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                data-id="25bd378" data-element_type="section"
                                data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-f4d1477"
                                        data-id="f4d1477" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-ce3d7e2 elementor-widget elementor-widget-heading"
                                                data-id="ce3d7e2" data-element_type="widget"
                                                data-widget_type="heading.default">
                                                <div class="elementor-widget-container">
                                                    <h2 class="elementor-heading-title elementor-size-default">
                                                        Communities with Heart</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-d289d03"
                                        data-id="d289d03" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-4ac5c4e elementor-widget__width-initial elementor-widget-tablet_extra__width-inherit elementor-widget elementor-widget-text-editor"
                                                data-id="4ac5c4e" data-element_type="widget"
                                                data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas, cumque minima? Nihil dolores tempora, natus suscipit obcaecati, aperiam quod possimus quos non doloribus optio ab eos cupiditate minima a, corporis neque? Cumque corporis dolore esse animi illo. Tenetur voluptatibus soluta laboriosam atque repudiandae. Quos reprehenderit dolor nisi atque corporis eligendi.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-b0e43e1 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                data-id="b0e43e1" data-element_type="section"
                                data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e39eb23"
                                        data-id="e39eb23" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-59940f8 dots-style-1 elementor-widget elementor-widget-onilife-communities"
                                                data-id="59940f8" data-element_type="widget"
                                                data-widget_type="onilife-communities.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-post-wrapper">
                                                        <div class="row" data-elementor-columns="1"
                                                            data-elementor-columns-tablet="2"
                                                            data-elementor-columns-mobile="1">
                                                            {% if houses %}
                                                              {% for house in houses %}
                                                            <div class="column-item communities-style-3">
                                                                <article
                                                                    class="communities post-3601 onilife_communities type-onilife_communities status-publish has-post-thumbnail hentry onilife_communities_cat-assisted-living onilife_communities_cat-memory-care onilife_communities_cat-respite-care">
                                                                    <div class="communities-inner">
                                                                        <div class="communities-post-thumbnail">
                                                                            <img loading="lazy" width="820"
                                                                                height="546"
                                                                                src="{{house.image.url}}"
                                                                                class="attachment-onilife-communities-grid size-onilife-communities-grid wp-post-image"
                                                                                alt=""
                                                                                sizes="(max-width: 820px) 100vw, 820px" />
                                                                        </div>
                                                                        <div class="communities-content">
                                                                            <div class="left">
                                                                                <div class="top">
                                                                                    <h4 class="entry-title"><a
                                                                                            href="{% url 'admission' house.slug %}">{{house.name}}</a></h4>
                                                                                    <div class="address">
                                                                                        {{house.address}}
                                                                                    </div>
                                                                                </div>
                                                                                <div class="phone">
                                                                                    <a href="tel:+{{house.phone_number}}">
                                                                                        +{{house.phone_number}}
                                                                                    </a> </div>
                                                                            </div>
                                                                            <div class="right">
                                                                                <div class="living-options">
                                                                                    <div class="title">
                                                                                        Living Options: </div>
                                                                                    <div class="content">
                                                                                        
                                                                                        
                                                                                          {% for category in house.categories.all %}
                                                                                        
                                                                                        
                                                                                        <a
                                                                                            href="{% url 'living' category.name.slug %}"><span>{{ category.name }}</span><span
                                                                                                class="line">,
                                                                                            </span></a>
                                                                                            {% empty %}
                                                                                            <p>No Categories found</p>
                                                                                            {% endfor %}
                                                                                        
                                                                                    </div>
                                                                                </div>
                                                                                <div class="communities-button">
                                                                                    <a class="button-more-link button"
                                                                                        href="{% url 'admission' house.slug %}">
                                                                                        <span>learn
                                                                                            more</span><i
                                                                                            class="onilife-icon-chevron-circle-right"></i>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </article>
                                                            </div>
                                                            {% endfor %}
                                                            {% else %}
                                                            <p>No Communities Available</p>
                                                            {% endif %}
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </article>
            </main>
        </div>
    </div>
</div>
{% endblock content %}