{% extends 'base.html' %}
{% load static %}

{% block title %}
  Contact
{% endblock title %}

{% block content %}
<div class="breadcrumb-wrap">
    <div data-elementor-type="wp-post" data-elementor-id="4842" class="elementor elementor-4842">
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-a662f55 elementor-section-full_width elementor-section-height-min-height elementor-section-stretched elementor-section-height-default elementor-section-items-middle"
            data-id="a662f55" data-element_type="section"
            data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-background-overlay"></div>
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3f54c64"
                    data-id="3f54c64" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-af3e806 elementor-widget elementor-widget-onilife-breadcrumb"
                            data-id="af3e806" data-element_type="widget"
                            data-widget_type="onilife-breadcrumb.default">
                            <div class="elementor-widget-container">
                                <div class="breadcrumb" typeof="BreadcrumbList" vocab="https://schema.org/">
                                    <div class="breadcrumb-listItem">
                                        <span property="itemListElement" typeof="ListItem"><a property="item"
                                                typeof="WebPage" title="Go to Home."
                                                href="https://demo2.pavothemes.com/onilife" class="home"><span
                                                    property="name">Home</span></a>
                                            <meta property="position" content="1">
                                        </span><i class="onilife-icon-minus"></i><span
                                            property="itemListElement" typeof="ListItem"><span property="name"
                                                class="post post-page current-item">Contact</span>
                                            <meta property="url" content="index.html">
                                            <meta property="position" content="2">
                                        </span>
                                    </div>
                                    <h1 class="onilife-title">
                                        Contact </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div id="content" class="site-content" tabindex="-1">
    <div class="col-full">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div data-elementor-type="wp-page" data-elementor-id="3105" class="elementor elementor-3105">
                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-64a887b elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="64a887b" data-element_type="section"
                        data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3397bde"
                                data-id="3397bde" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-173dab6 elementor-widget elementor-widget-google_maps"
                                        data-id="173dab6" data-element_type="widget"
                                        data-widget_type="google_maps.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-custom-embed">
                                                <iframe frameborder="0" scrolling="no" marginheight="0"
                                                    marginwidth="0"
                                                    src="https://maps.google.com/maps?q=Ikeja%20Eye%2C%Lagos%2C%20Nigeria&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near"
                                                    title="Ikeja, Lagos, Nigeria"
                                                    aria-label="Ikeja, Lagos, Nigeria"></iframe>
                                                    
                                            </div>
                                        </div>
                                    </div>
                                    <section
                                        class="elementor-section elementor-inner-section elementor-element elementor-element-deb2676 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                        data-id="deb2676" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-no">
                                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-bcad26b"
                                                data-id="bcad26b" data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-023e7e1 elementor-widget elementor-widget-image"
                                                        data-id="023e7e1" data-element_type="widget"
                                                        data-widget_type="image.default">
                                                        <div class="elementor-widget-container">
                                                            <img width="600" height="550"
                                                                src="{% static 'uploads/2022/09/contact-pic.jpg' %}"
                                                                class="attachment-full size-full" alt=""
                                                                loading="lazy"
                                                                sizes="(max-width: 600px) 100vw, 600px" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6dd4fc9"
                                                data-id="6dd4fc9" data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-59ce18f elementor-widget elementor-widget-heading"
                                                        data-id="59ce18f" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h4
                                                                class="elementor-heading-title elementor-size-default">
                                                                Feel free to get in touch</h4>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-6ad6f77 elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
                                                        data-id="6ad6f77" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ducimus autem ab animi mollitia magni magnam beatae earum, accusantium commodi delectus cupiditate debitis. Ad consequatur aut dolorem veniam vitae qui!</div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-8f726b1 contact-form-align-center form-style-border-yes elementor-widget elementor-widget-onilife-contactform"
                                                        data-id="8f726b1" data-element_type="widget"
                                                        data-widget_type="onilife-contactform.default">
                                                        <div class="elementor-widget-container">
                                                            <div role="form" class="wpcf7"
                                                                id="wpcf7-f8-p3105-o1" lang="en-US" dir="ltr">
                                                                <div class="screen-reader-response">
                                                                    <p role="status" aria-live="polite"
                                                                        aria-atomic="true"></p>
                                                                    <ul></ul>
                                                                </div>
                                                                <form
                                                                    action=""
                                                                    method="post" class="wpcf7-form init"
                                                                    novalidate="novalidate" data-status="init">
                                                                    <div style="display: none;">
                                                                        <input type="hidden" name="_wpcf7"
                                                                            value="8" />
                                                                        <input type="hidden"
                                                                            name="_wpcf7_version"
                                                                            value="5.6.3" />
                                                                        <input type="hidden"
                                                                            name="_wpcf7_locale"
                                                                            value="en_US" />
                                                                        <input type="hidden"
                                                                            name="_wpcf7_unit_tag"
                                                                            value="wpcf7-f8-p3105-o1" />
                                                                        <input type="hidden"
                                                                            name="_wpcf7_container_post"
                                                                            value="3105" />
                                                                        <input type="hidden"
                                                                            name="_wpcf7_posted_data_hash"
                                                                            value="" />
                                                                    </div>
                                                                    <div class="row">
                                                                        <div
                                                                            class="column-12 column-tablet-12 column-desktop-12">
                                                                            <span
                                                                                class="wpcf7-form-control-wrap"
                                                                                data-name="your-message"><textarea
                                                                                    name="your-message"
                                                                                    cols="40" rows="5"
                                                                                    class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required"
                                                                                    aria-required="true"
                                                                                    aria-invalid="false"
                                                                                    placeholder="Your Message..."></textarea></span>
                                                                        </div>
                                                                        <div
                                                                            class="column-12 column-tablet-12 column-desktop-12">
                                                                            <span
                                                                                class="wpcf7-form-control-wrap"
                                                                                data-name="your-name"><input
                                                                                    type="text" name="your-name"
                                                                                    value="" size="40"
                                                                                    class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                                    aria-required="true"
                                                                                    aria-invalid="false"
                                                                                    placeholder="Your Name" /></span>
                                                                        </div>
                                                                        <div
                                                                            class="column-12 column-tablet-6 column-desktop-6">
                                                                            <span
                                                                                class="wpcf7-form-control-wrap"
                                                                                data-name="your-email"><input
                                                                                    type="email"
                                                                                    name="your-email" value=""
                                                                                    size="40"
                                                                                    class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                                                    aria-required="true"
                                                                                    aria-invalid="false"
                                                                                    placeholder="Your Email" /></span>
                                                                        </div>
                                                                        <div
                                                                            class="column-12 column-tablet-6 column-desktop-6">
                                                                            <span
                                                                                class="wpcf7-form-control-wrap"
                                                                                data-name="your-address"><input
                                                                                    type="text"
                                                                                    name="your-address" value=""
                                                                                    size="40"
                                                                                    class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                                    aria-required="true"
                                                                                    aria-invalid="false"
                                                                                    placeholder="Your Address" /></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="wpcf7-button"><button
                                                                            type="submit"
                                                                            value="submit"><span>Submit</span><i
                                                                                class="icon onilife-icon-chevron-circle-right"></i></button>
                                                                    </div>
                                                                    <div class="wpcf7-response-output"
                                                                        aria-hidden="true"></div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </main>
        </div>
    </div>
</div>
{% endblock content %}