{% extends 'base.html' %}
{% load static %}

{% block title %}
  Faqs
{% endblock title %}

{% block content %}
<div class="breadcrumb-wrap">
    <div data-elementor-type="wp-post" data-elementor-id="4842" class="elementor elementor-4842">
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-a662f55 elementor-section-full_width elementor-section-height-min-height elementor-section-stretched elementor-section-height-default elementor-section-items-middle"
            data-id="a662f55" data-element_type="section"
            data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-background-overlay"></div>
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3f54c64"
                    data-id="3f54c64" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-af3e806 elementor-widget elementor-widget-onilife-breadcrumb"
                            data-id="af3e806" data-element_type="widget"
                            data-widget_type="onilife-breadcrumb.default">
                            <div class="elementor-widget-container">
                                <div class="breadcrumb" typeof="BreadcrumbList" vocab="">
                                    <div class="breadcrumb-listItem">
                                        <span property="itemListElement" typeof="ListItem"><a property="item"
                                                typeof="WebPage" title="Go to Home."
                                                href="{% url 'index' %}" class="home"><span
                                                    property="name">Home</span></a>
                                            <meta property="position" content="1">
                                        </span><i class="onilife-icon-minus"></i><span
                                            property="itemListElement" typeof="ListItem"><span property="name"
                                                class="post post-page current-item">Faqs</span>
                                            <meta property="url" content="{% url 'index' %}">
                                            <meta property="position" content="2">
                                        </span>
                                    </div>
                                    <h1 class="onilife-title">
                                        Faqs </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div id="content" class="site-content" tabindex="-1">
    <div class="col-full">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div data-elementor-type="wp-page" data-elementor-id="5024" class="elementor elementor-5024">
                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-3b071f0 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="3b071f0" data-element_type="section"
                        data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-23b9552"
                                data-id="23b9552" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-972f719 elementor-widget elementor-widget-heading"
                                        data-id="972f719" data-element_type="widget"
                                        data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">Popular
                                                questions</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-6480b6b style-theme-onilife-yes elementor-widget elementor-widget-accordion"
                                        data-id="6480b6b" data-element_type="widget"
                                        data-widget_type="accordion.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-accordion" role="tablist">
                                                <div class="elementor-accordion-item">
                                                    <div id="elementor-tab-title-1051"
                                                        class="elementor-tab-title" data-tab="1" role="tab"
                                                        aria-controls="elementor-tab-content-1051"
                                                        aria-expanded="false">
                                                        <span
                                                            class="elementor-accordion-icon elementor-accordion-icon-left"
                                                            aria-hidden="true">
                                                            <span class="elementor-accordion-icon-closed"><i
                                                                    class="onilife-icon- onilife-icon-plus"></i></span>
                                                            <span class="elementor-accordion-icon-opened"><i
                                                                    class="onilife-icon- onilife-icon-minus"></i></span>
                                                        </span>
                                                        <a class="elementor-accordion-title" href="#">Lorem ipsum dolor sit amet.</a>
                                                    </div>
                                                    <div id="elementor-tab-content-1051"
                                                        class="elementor-tab-content elementor-clearfix"
                                                        data-tab="1" role="tabpanel"
                                                        aria-labelledby="elementor-tab-title-1051">
                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus facilis laborum asperiores veritatis architecto id fugit, quod officiis aperiam pariatur rerum, est quidem, nam neque nihil? Quam voluptatibus tenetur perferendis?</p>
                                                    </div>
                                                </div>
                                                <div class="elementor-accordion-item">
                                                    <div id="elementor-tab-title-1052"
                                                        class="elementor-tab-title" data-tab="2" role="tab"
                                                        aria-controls="elementor-tab-content-1052"
                                                        aria-expanded="false">
                                                        <span
                                                            class="elementor-accordion-icon elementor-accordion-icon-left"
                                                            aria-hidden="true">
                                                            <span class="elementor-accordion-icon-closed"><i
                                                                    class="onilife-icon- onilife-icon-plus"></i></span>
                                                            <span class="elementor-accordion-icon-opened"><i
                                                                    class="onilife-icon- onilife-icon-minus"></i></span>
                                                        </span>
                                                        <a class="elementor-accordion-title" href="#">Lorem ipsum dolor sit amet.</a>
                                                    </div>
                                                    <div id="elementor-tab-content-1052"
                                                        class="elementor-tab-content elementor-clearfix"
                                                        data-tab="2" role="tabpanel"
                                                        aria-labelledby="elementor-tab-title-1052">
                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus facilis laborum asperiores veritatis architecto id fugit, quod officiis aperiam pariatur rerum, est quidem, nam neque nihil? Quam voluptatibus tenetur perferendis?</p>
                                                    </div>
                                                </div>
                                                <div class="elementor-accordion-item">
                                                    <div id="elementor-tab-title-1053"
                                                        class="elementor-tab-title" data-tab="3" role="tab"
                                                        aria-controls="elementor-tab-content-1053"
                                                        aria-expanded="false">
                                                        <span
                                                            class="elementor-accordion-icon elementor-accordion-icon-left"
                                                            aria-hidden="true">
                                                            <span class="elementor-accordion-icon-closed"><i
                                                                    class="onilife-icon- onilife-icon-plus"></i></span>
                                                            <span class="elementor-accordion-icon-opened"><i
                                                                    class="onilife-icon- onilife-icon-minus"></i></span>
                                                        </span>
                                                        <a class="elementor-accordion-title" href="#">Lorem ipsum dolor sit amet.</a>
                                                    </div>
                                                    <div id="elementor-tab-content-1053"
                                                        class="elementor-tab-content elementor-clearfix"
                                                        data-tab="3" role="tabpanel"
                                                        aria-labelledby="elementor-tab-title-1053">
                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus facilis laborum asperiores veritatis architecto id fugit, quod officiis aperiam pariatur rerum, est quidem, nam neque nihil? Quam voluptatibus tenetur perferendis?</p>
                                                    </div>
                                                </div>
                                                <div class="elementor-accordion-item">
                                                    <div id="elementor-tab-title-1054"
                                                        class="elementor-tab-title" data-tab="4" role="tab"
                                                        aria-controls="elementor-tab-content-1054"
                                                        aria-expanded="false">
                                                        <span
                                                            class="elementor-accordion-icon elementor-accordion-icon-left"
                                                            aria-hidden="true">
                                                            <span class="elementor-accordion-icon-closed"><i
                                                                    class="onilife-icon- onilife-icon-plus"></i></span>
                                                            <span class="elementor-accordion-icon-opened"><i
                                                                    class="onilife-icon- onilife-icon-minus"></i></span>
                                                        </span>
                                                        <a class="elementor-accordion-title" href="#">Lorem ipsum dolor sit amet.</a>
                                                    </div>
                                                    <div id="elementor-tab-content-1054"
                                                        class="elementor-tab-content elementor-clearfix"
                                                        data-tab="4" role="tabpanel"
                                                        aria-labelledby="elementor-tab-title-1054">
                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus facilis laborum asperiores veritatis architecto id fugit, quod officiis aperiam pariatur rerum, est quidem, nam neque nihil? Quam voluptatibus tenetur perferendis?</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-0e79ad7 elementor-widget elementor-widget-heading"
                                        data-id="0e79ad7" data-element_type="widget"
                                        data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">Lorem ipsum dolor sit amet.</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-afe1b1d style-theme-onilife-yes elementor-widget elementor-widget-accordion"
                                        data-id="afe1b1d" data-element_type="widget"
                                        data-widget_type="accordion.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-accordion" role="tablist">
                                                <div class="elementor-accordion-item">
                                                    <div id="elementor-tab-title-1841"
                                                        class="elementor-tab-title" data-tab="1" role="tab"
                                                        aria-controls="elementor-tab-content-1841"
                                                        aria-expanded="false">
                                                        <span
                                                            class="elementor-accordion-icon elementor-accordion-icon-left"
                                                            aria-hidden="true">
                                                            <span class="elementor-accordion-icon-closed"><i
                                                                    class="onilife-icon- onilife-icon-plus"></i></span>
                                                            <span class="elementor-accordion-icon-opened"><i
                                                                    class="onilife-icon- onilife-icon-minus"></i></span>
                                                        </span>
                                                        <a class="elementor-accordion-title" href="#">Lorem ipsum dolor sit amet.</a>
                                                    </div>
                                                    <div id="elementor-tab-content-1841"
                                                        class="elementor-tab-content elementor-clearfix"
                                                        data-tab="1" role="tabpanel"
                                                        aria-labelledby="elementor-tab-title-1841">
                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus facilis laborum asperiores veritatis architecto id fugit, quod officiis aperiam pariatur rerum, est quidem, nam neque nihil? Quam voluptatibus tenetur perferendis?</p>
                                                    </div>
                                                </div>
                                                <div class="elementor-accordion-item">
                                                    <div id="elementor-tab-title-1842"
                                                        class="elementor-tab-title" data-tab="2" role="tab"
                                                        aria-controls="elementor-tab-content-1842"
                                                        aria-expanded="false">
                                                        <span
                                                            class="elementor-accordion-icon elementor-accordion-icon-left"
                                                            aria-hidden="true">
                                                            <span class="elementor-accordion-icon-closed"><i
                                                                    class="onilife-icon- onilife-icon-plus"></i></span>
                                                            <span class="elementor-accordion-icon-opened"><i
                                                                    class="onilife-icon- onilife-icon-minus"></i></span>
                                                        </span>
                                                        <a class="elementor-accordion-title" href="#">Lorem ipsum dolor sit amet.</a>
                                                    </div>
                                                    <div id="elementor-tab-content-1842"
                                                        class="elementor-tab-content elementor-clearfix"
                                                        data-tab="2" role="tabpanel"
                                                        aria-labelledby="elementor-tab-title-1842">
                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus facilis laborum asperiores veritatis architecto id fugit, quod officiis aperiam pariatur rerum, est quidem, nam neque nihil? Quam voluptatibus tenetur perferendis?</p>
                                                    </div>
                                                </div>
                                                <div class="elementor-accordion-item">
                                                    <div id="elementor-tab-title-1843"
                                                        class="elementor-tab-title" data-tab="3" role="tab"
                                                        aria-controls="elementor-tab-content-1843"
                                                        aria-expanded="false">
                                                        <span
                                                            class="elementor-accordion-icon elementor-accordion-icon-left"
                                                            aria-hidden="true">
                                                            <span class="elementor-accordion-icon-closed"><i
                                                                    class="onilife-icon- onilife-icon-plus"></i></span>
                                                            <span class="elementor-accordion-icon-opened"><i
                                                                    class="onilife-icon- onilife-icon-minus"></i></span>
                                                        </span>
                                                        <a class="elementor-accordion-title" href="#">Lorem ipsum dolor sit amet.</a>
                                                    </div>
                                                    <div id="elementor-tab-content-1843"
                                                        class="elementor-tab-content elementor-clearfix"
                                                        data-tab="3" role="tabpanel"
                                                        aria-labelledby="elementor-tab-title-1843">
                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus facilis laborum asperiores veritatis architecto id fugit, quod officiis aperiam pariatur rerum, est quidem, nam neque nihil? Quam voluptatibus tenetur perferendis?</p>
                                                    </div>
                                                </div>
                                                <div class="elementor-accordion-item">
                                                    <div id="elementor-tab-title-1844"
                                                        class="elementor-tab-title" data-tab="4" role="tab"
                                                        aria-controls="elementor-tab-content-1844"
                                                        aria-expanded="false">
                                                        <span
                                                            class="elementor-accordion-icon elementor-accordion-icon-left"
                                                            aria-hidden="true">
                                                            <span class="elementor-accordion-icon-closed"><i
                                                                    class="onilife-icon- onilife-icon-plus"></i></span>
                                                            <span class="elementor-accordion-icon-opened"><i
                                                                    class="onilife-icon- onilife-icon-minus"></i></span>
                                                        </span>
                                                        <a class="elementor-accordion-title" href="#">Lorem ipsum dolor sit amet.</a>
                                                    </div>
                                                    <div id="elementor-tab-content-1844"
                                                        class="elementor-tab-content elementor-clearfix"
                                                        data-tab="4" role="tabpanel"
                                                        aria-labelledby="elementor-tab-title-1844">
                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus facilis laborum asperiores veritatis architecto id fugit, quod officiis aperiam pariatur rerum, est quidem, nam neque nihil? Quam voluptatibus tenetur perferendis?</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-5fc7e28 elementor-widget elementor-widget-heading"
                                        data-id="5fc7e28" data-element_type="widget"
                                        data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">Lorem ipsum dolor sit amet.</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-21ab50b style-theme-onilife-yes elementor-widget elementor-widget-accordion"
                                        data-id="21ab50b" data-element_type="widget"
                                        data-widget_type="accordion.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-accordion" role="tablist">
                                                <div class="elementor-accordion-item">
                                                    <div id="elementor-tab-title-3531"
                                                        class="elementor-tab-title" data-tab="1" role="tab"
                                                        aria-controls="elementor-tab-content-3531"
                                                        aria-expanded="false">
                                                        <span
                                                            class="elementor-accordion-icon elementor-accordion-icon-left"
                                                            aria-hidden="true">
                                                            <span class="elementor-accordion-icon-closed"><i
                                                                    class="onilife-icon- onilife-icon-plus"></i></span>
                                                            <span class="elementor-accordion-icon-opened"><i
                                                                    class="onilife-icon- onilife-icon-minus"></i></span>
                                                        </span>
                                                        <a class="elementor-accordion-title" href="#">Lorem ipsum dolor sit amet.</a>
                                                    </div>
                                                    <div id="elementor-tab-content-3531"
                                                        class="elementor-tab-content elementor-clearfix"
                                                        data-tab="1" role="tabpanel"
                                                        aria-labelledby="elementor-tab-title-3531">
                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus facilis laborum asperiores veritatis architecto id fugit, quod officiis aperiam pariatur rerum, est quidem, nam neque nihil? Quam voluptatibus tenetur perferendis?</p>
                                                    </div>
                                                </div>
                                                <div class="elementor-accordion-item">
                                                    <div id="elementor-tab-title-3532"
                                                        class="elementor-tab-title" data-tab="2" role="tab"
                                                        aria-controls="elementor-tab-content-3532"
                                                        aria-expanded="false">
                                                        <span
                                                            class="elementor-accordion-icon elementor-accordion-icon-left"
                                                            aria-hidden="true">
                                                            <span class="elementor-accordion-icon-closed"><i
                                                                    class="onilife-icon- onilife-icon-plus"></i></span>
                                                            <span class="elementor-accordion-icon-opened"><i
                                                                    class="onilife-icon- onilife-icon-minus"></i></span>
                                                        </span>
                                                        <a class="elementor-accordion-title" href="#">Lorem ipsum dolor sit amet.</a>
                                                    </div>
                                                    <div id="elementor-tab-content-3532"
                                                        class="elementor-tab-content elementor-clearfix"
                                                        data-tab="2" role="tabpanel"
                                                        aria-labelledby="elementor-tab-title-3532">
                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus facilis laborum asperiores veritatis architecto id fugit, quod officiis aperiam pariatur rerum, est quidem, nam neque nihil? Quam voluptatibus tenetur perferendis?</p>
                                                    </div>
                                                </div>
                                                <div class="elementor-accordion-item">
                                                    <div id="elementor-tab-title-3533"
                                                        class="elementor-tab-title" data-tab="3" role="tab"
                                                        aria-controls="elementor-tab-content-3533"
                                                        aria-expanded="false">
                                                        <span
                                                            class="elementor-accordion-icon elementor-accordion-icon-left"
                                                            aria-hidden="true">
                                                            <span class="elementor-accordion-icon-closed"><i
                                                                    class="onilife-icon- onilife-icon-plus"></i></span>
                                                            <span class="elementor-accordion-icon-opened"><i
                                                                    class="onilife-icon- onilife-icon-minus"></i></span>
                                                        </span>
                                                        <a class="elementor-accordion-title" href="#">Lorem ipsum dolor sit amet.</a>
                                                    </div>
                                                    <div id="elementor-tab-content-3533"
                                                        class="elementor-tab-content elementor-clearfix"
                                                        data-tab="3" role="tabpanel"
                                                        aria-labelledby="elementor-tab-title-3533">
                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus facilis laborum asperiores veritatis architecto id fugit, quod officiis aperiam pariatur rerum, est quidem, nam neque nihil? Quam voluptatibus tenetur perferendis?</p>
                                                    </div>
                                                </div>
                                                <div class="elementor-accordion-item">
                                                    <div id="elementor-tab-title-3534"
                                                        class="elementor-tab-title" data-tab="4" role="tab"
                                                        aria-controls="elementor-tab-content-3534"
                                                        aria-expanded="false">
                                                        <span
                                                            class="elementor-accordion-icon elementor-accordion-icon-left"
                                                            aria-hidden="true">
                                                            <span class="elementor-accordion-icon-closed"><i
                                                                    class="onilife-icon- onilife-icon-plus"></i></span>
                                                            <span class="elementor-accordion-icon-opened"><i
                                                                    class="onilife-icon- onilife-icon-minus"></i></span>
                                                        </span>
                                                        <a class="elementor-accordion-title" href="#">Lorem ipsum dolor sit amet.</a>
                                                    </div>
                                                    <div id="elementor-tab-content-3534"
                                                        class="elementor-tab-content elementor-clearfix"
                                                        data-tab="4" role="tabpanel"
                                                        aria-labelledby="elementor-tab-title-3534">
                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus facilis laborum asperiores veritatis architecto id fugit, quod officiis aperiam pariatur rerum, est quidem, nam neque nihil? Quam voluptatibus tenetur perferendis?</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-b8b43db"
                                data-id="b8b43db" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <section
                                        class="elementor-section elementor-inner-section elementor-element elementor-element-8a9edf9 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                        data-id="8a9edf9" data-element_type="section"
                                        data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                        <div class="elementor-container elementor-column-gap-no">
                                            <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-2ab91dd"
                                                data-id="2ab91dd" data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-c221923 elementor-widget elementor-widget-heading"
                                                        data-id="c221923" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h2
                                                                class="elementor-heading-title elementor-size-default">
                                                                Request more info
                                                            </h2>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-cada07c elementor-widget elementor-widget-text-editor"
                                                        data-id="cada07c" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Prefer to call us directly? Our team will reach
                                                                out to you!</p>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-37b3423 elementor-widget elementor-widget-image"
                                                        data-id="37b3423" data-element_type="widget"
                                                        data-widget_type="image.default">
                                                        <div class="elementor-widget-container">
                                                            <img width="80" height="81"
                                                                src="{% static 'uploads/2022/09/h4_img6.jpg' %}"
                                                                class="attachment-large size-large" alt=""
                                                                loading="lazy" />
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-2e2b693 elementor-widget elementor-widget-text-editor"
                                                        data-id="2e2b693" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div>Office Support</div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-d97cbdd elementor-widget elementor-widget-text-editor"
                                                        data-id="d97cbdd" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div> lorem ipsum</div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-51c1e6d elementor-widget elementor-widget-text-editor"
                                                        data-id="51c1e6d" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div>+234-91-371-04825</div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-b1b1d48 elementor-widget elementor-widget-text-editor"
                                                        data-id="b1b1d48" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div><a href="">lorem@lorem.com</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-d3f6b6b elementor-widget elementor-widget-text-editor"
                                                        data-id="d3f6b6b" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>chat now</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </main>
        </div>
    </div>
</div>
{% endblock content %}