{% extends 'base.html' %}
{% load static %}
{% block title %}
  Schedule A Visit
{% endblock title %}

{% block content %}
<div class="breadcrumb-wrap">
    <div data-elementor-type="wp-post" data-elementor-id="4830" class="elementor elementor-4830">
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-b5dcd67 elementor-section-full_width elementor-section-height-min-height elementor-section-stretched elementor-section-height-default elementor-section-items-middle"
            data-id="b5dcd67" data-element_type="section"
            data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-background-overlay"></div>
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-fb3fdbb"
                    data-id="fb3fdbb" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-54a2ac3 hidden-onilife-title-single-yes elementor-widget elementor-widget-onilife-breadcrumb"
                            data-id="54a2ac3" data-element_type="widget"
                            data-widget_type="onilife-breadcrumb.default">
                            <div class="elementor-widget-container">
                                <div class="breadcrumb" typeof="BreadcrumbList" vocab="">
                                    <div class="breadcrumb-listItem">
                                        <span property="itemListElement" typeof="ListItem"><a property="item"
                                                typeof="WebPage" title="Go to Home."
                                                href="{% url 'index' %}" class="home"><span
                                                    property="name">Home</span></a>
                                            <meta property="position" content="1">
                                        </span><i class="onilife-icon-minus"></i><span
                                            property="itemListElement" typeof="ListItem"><span property="name"
                                                class="post post-page current-item">Schedule A Visit</span>
                                            <meta property="url" content="{% url 'index' %}">
                                            <meta property="position" content="2">
                                        </span>
                                    </div>
                                    <h1 class="onilife-title">
                                        Schedule A Visit </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div id="content" class="site-content" tabindex="-1">
    <div class="col-full">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div data-elementor-type="wp-page" data-elementor-id="5330" class="elementor elementor-5330">
                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-8dc7e45 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="8dc7e45" data-element_type="section"
                        data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-9c55310 elementor-hidden-mobile"
                                data-id="9c55310" data-element_type="column"
                                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-a9f69e0 elementor-widget elementor-widget-spacer"
                                        data-id="a9f69e0" data-element_type="widget"
                                        data-widget_type="spacer.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-spacer">
                                                <div class="elementor-spacer-inner"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-5d55a43"
                                data-id="5d55a43" data-element_type="column"
                                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-8952271 elementor-widget elementor-widget-heading"
                                        data-id="8952271" data-element_type="widget"
                                        data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h3 class="elementor-heading-title elementor-size-default">Book A
                                                Tour</h3>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-3d4c475 elementor-widget elementor-widget-text-editor"
                                        data-id="3d4c475" data-element_type="widget"
                                        data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div>Book a private viewing and let our specialists design a plan
                                                based on your lifestyle needs!</div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-849f266 contact-form-align-left form-style-border-yes elementor-widget elementor-widget-onilife-contactform"
                                        data-id="849f266" data-element_type="widget"
                                        data-widget_type="onilife-contactform.default">
                                        <div class="elementor-widget-container">
                                            <div role="form" class="wpcf7" id="wpcf7-f5304-p5330-o1"
                                                lang="en-US" dir="ltr">
                                                <div class="screen-reader-response">
                                                    <p role="status" aria-live="polite" aria-atomic="true"></p>
                                                    <ul></ul>
                                                </div>
                                                <form
                                                    action=""
                                                    method="" class="wpcf7-form init"
                                                    novalidate="novalidate" data-status="init">
                                                    
                                                    <div class="wpcd">
                                                        <div class="row">
                                                            <div
                                                                class="column-12 column-tablet-12 column-desktop-12">
                                                                <span class="wpcf7-form-control-wrap"
                                                                    data-name="your-name"><input type="text"
                                                                        name="your-name" value="" size="40"
                                                                        class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                        aria-required="true"
                                                                        aria-invalid="false"
                                                                        placeholder="Name" /></span>
                                                            </div>
                                                            <div
                                                                class="column-12 column-tablet-6 column-desktop-6">
                                                                <span class="wpcf7-form-control-wrap"
                                                                    data-name="your-email"><input type="email"
                                                                        name="your-email" value="" size="40"
                                                                        class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                                        aria-required="true"
                                                                        aria-invalid="false"
                                                                        placeholder="Email" /></span>
                                                            </div>
                                                            <div
                                                                class="column-12 column-tablet-6 column-desktop-6">
                                                                <span class="wpcf7-form-control-wrap"
                                                                    data-name="your-address"><input type="text"
                                                                        name="your-address" value="" size="40"
                                                                        class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                        aria-required="true"
                                                                        aria-invalid="false"
                                                                        placeholder="Phone Number" /></span>
                                                            </div>
                                                            <div
                                                                class="column-12 column-tablet-6 column-desktop-6">
                                                                <span class="wpcf7-form-control-wrap"
                                                                    data-name="date-397"><input type="date"
                                                                        name="date-397" value=""
                                                                        class="wpcf7-form-control wpcf7-date wpcf7-validates-as-required wpcf7-validates-as-date"
                                                                        aria-required="true"
                                                                        aria-invalid="false"
                                                                        placeholder="Preferred Date" /></span>
                                                            </div>
                                                            <div
                                                                class="column-12 column-tablet-6 column-desktop-6">
                                                                <span class="wpcf7-form-control-wrap"
                                                                    data-name="date-397"><input type="date"
                                                                        name="date-397" value=""
                                                                        class="wpcf7-form-control wpcf7-date wpcf7-validates-as-required wpcf7-validates-as-date"
                                                                        aria-required="true"
                                                                        aria-invalid="false"
                                                                        placeholder="Preferred Time" /></span>
                                                            </div>
                                                            <div
                                                                class="column-12 column-tablet-12 column-desktop-12">
                                                                <span>I am looking for:</span><span
                                                                    class="wpcf7-form-control-wrap"
                                                                    data-name="checkbox-69"><span
                                                                        class="wpcf7-form-control wpcf7-radio"><span
                                                                            class="wpcf7-list-item first"><input
                                                                                type="radio" name="checkbox-69"
                                                                                value="Myself"
                                                                                checked="checked" /><span
                                                                                class="wpcf7-list-item-label">Myself</span></span><span
                                                                            class="wpcf7-list-item"><input
                                                                                type="radio" name="checkbox-69"
                                                                                value="A family member" /><span
                                                                                class="wpcf7-list-item-label">A
                                                                                family member</span></span><span
                                                                            class="wpcf7-list-item last"><input
                                                                                type="radio" name="checkbox-69"
                                                                                value="A Friend" /><span
                                                                                class="wpcf7-list-item-label">A
                                                                                Friend</span></span></span></span>
                                                            </div>
                                                            <div
                                                                class="column-12 column-tablet-12 column-desktop-12">
                                                                <span class="wpcf7-form-control-wrap"
                                                                    data-name="menu-543"><select name="menu-543"
                                                                        class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required"
                                                                        aria-required="true"
                                                                        aria-invalid="false">
                                                                        <option value="Choose your Community">
                                                                            Choose your Community</option>
                                                                        <option value="Overlook Village">
                                                                            Overlook Village</option>
                                                                        <option value="Independence Hill">
                                                                            Independence Hill</option>
                                                                        <option value="Deer Park Village">Deer
                                                                            Park Village</option>
                                                                        <option value="Aksarben Village">
                                                                            Aksarben Village</option>
                                                                        <option value="Crestwood Manor">
                                                                            Crestwood Manor</option>
                                                                    </select></span>
                                                            </div>
                                                            <div
                                                                class="column-12 column-tablet-12 column-desktop-12">
                                                                <span class="wpcf7-form-control-wrap"
                                                                    data-name="menu-634"><select name="menu-634"
                                                                        class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required"
                                                                        aria-required="true"
                                                                        aria-invalid="false">
                                                                        <option value="I am interested in">I am
                                                                            interested in</option>
                                                                        <option value="Independent Living">
                                                                            Independent Living</option>
                                                                        <option value="Assisted Living">Assisted
                                                                            Living</option>
                                                                        <option value="Memory Care">Memory Care
                                                                        </option>
                                                                        <option value="Respite Care">Respite
                                                                            Care</option>
                                                                    </select></span>
                                                            </div>
                                                        </div>
                                                        <div class="wpcf7-button"><button type="submit"
                                                                value="submit"><span>Submit</span><i
                                                                    class="icon onilife-icon-chevron-circle-right"></i></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </main>
        </div>
    </div>
</div>
{% endblock content %}